.grp2_PaginaBench{
    background-image:url(../assest/bg.jpg);
    color: white;
    width: 1024;
    height: 728px;
    padding: 50px;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#risposte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.stringaDomanda{
    color:white;
    text-align: center;
}



.stringaRisposte{
    margin: 20px;
    height: 100px;
    width: 550px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    background: none;
    color: white;
    box-shadow: -1px 0 2px white;
}

.stringaRisposte:hover {
    background-color: purple;
}


